@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color:bg-[rgba(255,255,255,0.05)]; */
  /* background-color: #446144; */
  /* background-color: #548f54; */
  /* background-color: #354135; */
  /* background-color: #2a2e2a; */
  /* background-color: rgb(184, 227, 241); */
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}

.label-dark {
  @apply text-sm font-medium text-gray-300 mb-1 block;
}

.input-dark {
  @apply w-full h-10 px-3 rounded-md
  bg-[#0f1115] border border-[#2f3547]
  text-sm text-gray-100
  focus:outline-none focus:ring-2 focus:ring-[#4f46e5]
  focus:border-[#4f46e5] transition;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.25s ease-out forwards;
}
